node_modules

# Env files (do not commit secrets)
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs / coverage
dist/
build/
coverage/

# Local tooling
.vercel/
.netlify/

# OS / Editor files
.DS_Store
*.swp
*.swo
.idea/
.vscode/
